<form [formGroup]="form">
  <mat-form-field appearance="fill">
    <mat-label>type </mat-label>
    <input matInput formControlName="type" placeholder="Input" />
  </mat-form-field>
  <br />
  <mat-form-field appearance="fill">
    <mat-label>titre </mat-label>
    <input matInput formControlName="titre" placeholder="Input" />
  </mat-form-field>
  <br />

  <mat-form-field>
    <mat-label>Enter a date range</mat-label>
    <mat-date-range-input [formGroup]="form" [rangePicker]="picker">
      <input matStartDate formControlName="start" placeholder="Start date" />
      <input matEndDate formControlName="end" placeholder="End date" />
    </mat-date-range-input>
    <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-date-range-picker #picker></mat-date-range-picker>
  </mat-form-field>

  <mat-dialog-actions>
    <button mat-button color="primary" (click)="close()">Close</button>
    <button mat-button (click)="save()">Save</button>
  </mat-dialog-actions>
</form>
